<template>
  <div class="page">
    <b-jumbotron
      bg-variant="primary"
      text-variant="white"
      fluid
      header="Address Book"
      lead="Contacts page"
    >
    </b-jumbotron>
    <b-container>
      <b-btn 
        v-b-modal.addContact
        variant="primary"
        class="mb-3"
      >
        Add
      </b-btn>

      <!-- Modal Component -->
      <b-modal hide-footer id="addContact" title="Add contact">
        <b-form>
          <b-form-group
            label="Name:"
            class="mb-0"
            label-for="firstNameInput"
          ></b-form-group>
          <b-form-row>
            <b-col sm="6">
              <b-form-input
                type="text"
                placeholder="First Name"
                v-model="firstName"
                id="firstNameInput"
                class="mb-3"
              ></b-form-input>
            </b-col>
            <b-col sm="6">
              <b-form-input
                type="text"
                placeholder="Last Name"
                v-model="lastName"
                id="lastNameInput"
                class="mb-3"
              ></b-form-input>
            </b-col>
            <b-col sm="12">
              <b-form-group
                label="Date of birth:"
                label-for="dateOfBirthInput"
              >
                <b-form-input
                  type="date"
                  v-model="birthday"
                  id="dateOfBirthInput"
                  class="mb-3"
                ></b-form-input>
              </b-form-group>
            </b-col>
            <b-col sm="12">
              <b-form-group
                label="Mobile number:"
                label-for="mobileNumberInput"
              >
                <b-form-input
                  type="text"
                  placeholder="07000000000"
                  v-model="mobileNumber"
                  id="mobileNumberInput"
                  class="mb-3"
                ></b-form-input>
              </b-form-group>
            </b-col>
            <b-col sm="12">
              <b-form-group
                label="Email address:"
                label-for="emailAddressInput"
                description="We'll never share your email with anyone else."
              >
                <b-form-input
                  type="text"
                  placeholder="example@example.com"
                  v-model="emailAddress"
                  id="emailAddressInput"
                ></b-form-input>
              </b-form-group>
            </b-col>
          </b-form-row>
          <b-button @click="newContact" variant="primary">Submit</b-button>
        </b-form>
      </b-modal>
      <b-row>
        <b-col :key="index" v-for="contact, index in contacts">
          <b-card
            :img-src="contact.imagePath"
            img-alt="Image"
            img-top
            no-body
            class="mb-2"
          >
            <h4 slot="header">{{ contact.firstName + ' ' + contact.lastName }}</h4>
            <p class="card-text text-right p-3">
              <b-button :to="`/addressbook/${contact.id}`">View</b-button>
            </p>
          </b-card>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
  import axios from 'axios';

  export default {
    name: "AddressBook",
    data () {
      return {
        contacts: [],
        // Form data
        firstName: '',
        lastName: '',
        birthday: '',
        mobileNumber: '',
        emailAddress: '',
        imagePath: ''
      }
    },
    methods: {
      loadAll: function (event) {
        axios.get('/contacts/loadall').then(response => {
          for(var i in response.data) {
            this.contacts.push({
              id: response.data[i].id,
              firstName: response.data[i].firstName,
              lastName: response.data[i].lastName,
              birthday: response.data[i].birthday,
              mobileNumber: response.data[i].mobileNumber,
              emailAddress: response.data[i].emailAddress,
              imagePath: response.data[i].imagePath
            })
          }
        });
      },
      newContact: function (event) {
        axios.post('/contacts/add', {
          firstName: this.firstName,
          lastName: this.lastName,
          birthday: this.birthday,
          mobileNumber: this.mobileNumber,
          emailAddress: this.emailAddress,
          imagePath: this.imagePath
        }).then(response => {
          this.contacts.push({
            id: response.data.id,
            firstName: response.data.firstName,
            lastName: response.data.lastName,
            birthday: response.data.birthday,
            mobileNumber: response.data.mobileNumber,
            emailAddress: response.data.emailAddress,
            imagePath: response.data.imagePath
          });
        });
      }
    },
    beforeMount () {
      this.loadAll();
    }
  }
</script>

<style lang="scss">

</style>