<template>
  <div class="page">
    <b-jumbotron
      fluid
      :header="`${contact.firstName} ${contact.lastName}`"
    >
    </b-jumbotron>
    <b-container>
      <b-row>
        <b-col>
          <b-card
            :title="`Contact information for ${contact.firstName}`"
          >
            <b-list-group flush>
              <b-list-group-item v-if="contact.mobileNumber">
                <i class="fa fa-phone"></i> {{ contact.mobileNumber }}
              </b-list-group-item>
              <b-list-group-item v-if="contact.emailAddress">
                <i class="fa fa-envelope"></i> {{ contact.emailAddress }}
              </b-list-group-item>
            </b-list-group>
          </b-card>
        </b-col>
        <b-col>
          <b-card
            :title="`Other information for ${contact.firstName}`"
          >
            <b-list-group flush>
              <b-list-group-item v-if="contact.birthday">
                <i class="fa fa-calendar"></i> {{ formattedBirthday }}
              </b-list-group-item>
            </b-list-group>
          </b-card>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
  import axios from 'axios';
  import moment from 'moment';

  export default {
    name: "Contact",
    data () {
      return {
        contact: {}
      }
    },
    computed: {
      contactId () {
        return this.$route.params.id
      },
      formattedBirthday () {
        return moment(this.contact.birthday.date).format("Do MMMM YYYY");
      }
    },
    methods: {
      load: function (event) {
        axios.post('/contacts/load', {
          id: this.contactId
        }).then(response => {
          this.contact = {
            id: response.data.id,
            firstName: response.data.firstName,
            lastName: response.data.lastName,
            birthday: response.data.birthday,
            mobileNumber: response.data.mobileNumber,
            emailAddress: response.data.emailAddress,
            imagePath: response.data.imagePath
          }
        });
      }
    },
    beforeMount () {
      this.load();
    }
  }
</script>