<template>
  <div id="wrapper">
    <div class="sidebar-nav">
      <b-navbar toggleable="md" type="light" variant="light">
        <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>
        <b-collapse is-nav id="nav_collapse">
          <!-- Left aligned nav items -->
          <b-navbar-nav>
            <b-nav-item to="/" exact>
              <i class="fas fa-home"></i><span class="nav-label"> Home</span>
            </b-nav-item>
            <b-nav-item to="/addressbook">
              <i class="fas fa-address-book"></i><span class="nav-label"> Address Book</span>
            </b-nav-item>
          </b-navbar-nav>
        </b-collapse>
      </b-navbar>
    </div>
    <div class="page-container">
      <transition name="swipe">
        <router-view></router-view>
      </transition>
    </div>
  </div>
</template>

<script>
  export default {
    name: "Frame"
  }
</script>

<style lang="scss">

</style>