<template>
  <div class="page">
    <b-jumbotron
      fluid
      header="Home"
      lead="Symfony + Vue SPA"
    >
    </b-jumbotron>
    <b-container>
      <b-row>
        <b-col class="d-flex">
          <b-card title="What is this site?"
            img-src="https://picsum.photos/600/300/?image=25"
            img-alt="Image"
            img-top
            tag="article"
            class="mb-2"
          >
            <p class="card-text">
              A single-page application. Manage your address book contacts
              via the Address Book page.
            </p>
            <b-button to="/addressbook" variant="primary">Show me!</b-button>
          </b-card>
        </b-col>
        <b-col class="d-flex">
          <b-card title="Why did you make it?"
            img-src="https://picsum.photos/600/300/?image=24"
            img-alt="Image"
            img-top
            tag="article"
            class="mb-2"
          >
            <p class="card-text">
              To beat Chris.
            </p>
          </b-card>
        </b-col>
        <b-col class="d-flex">
          <b-card title="And will it?"
            img-src="https://picsum.photos/600/300/?image=20"
            img-alt="Image"
            img-top
            tag="article"
            class="mb-2"
          >
            <p class="card-text">
              Yes.
            </p>
          </b-card>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
  export default {
    name: "Home"
  }
</script>

<style lang="scss">

</style>