.page-container {
  position: relative;
  width:    100%;
  height:   100%;
}

#wrapper {
  height:     100vh;
  width:      100vw;
  overflow-y: auto;
}

body {
  background-color: $dark-grey;
}

.page {
  @include elevation-3;
  position:         absolute;
  top:              0;
  left:             0;
  width:            100%;
  height:           100%;
  background-color: $light-grey;
}

.jumbotron {
  @include elevation-1;
}

.sidebar-nav {
  @include elevation-3;
}

.card {
  @include elevation-1;
  border-width: 0;
}