@media (min-width: 768px) {
  #wrapper {
    padding-left: $navbar-width;
  }
  .nav-label {
    display: none;
  }
  .sidebar-nav {
    position: fixed;
    top:      0;
    left:     0;
    height:   100%;
    width:    $navbar-width;
    z-index:  999;

    .navbar {
      ul {
        float:    none;
        display:  block;
        position: absolute;
        top:      $navbar-padding * 2;
        left:     0;
      }

      li {
        float:    none;
        display:  block;

        a {
          padding-top:    $navbar-padding;
          padding-bottom: $navbar-padding;
        }
      }
      .navbar-collapse {
        padding:    0;
        max-height: none;
        height:     100vh;
      }
      .fas {
        font-size:      $navbar-font-size;
        margin-bottom:  $navbar-padding * 1.5;
      }
    }
    .navbar-nav {
      width:      100%;
      text-align: center;
    }
  }
}