<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Address Book</title>

        <!-- Stylesheets -->
        <link rel="stylesheet" href="{{ asset('build/css/fontawesome.css') }}">
        <link rel="stylesheet" href="{{ asset('build/js/app.css') }}">
        <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
    </head>
    <body>
        <!-- Vue -->
        <div id="vue"></div>

        <!-- Scripts -->
        <script src="{{ asset('build/js/app.js') }}"></script>
    </body>
</html>
